:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #242424;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 213, 241);
  border-radius: 5px;
}

/** Own CSS **/
.clickme {
  background-color : #46b7da00;
  padding: 10px 20px;
  border: 0;
}

.botbutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.butimg{
  height: 4em;
}
.dailynotes{
  width: 100%;
}
.logo {
  font-size: 1.5rem;
  color: rgb(203, 203, 203);
  font-weight: 600;
  cursor: default;
}
.logoimg{
  height: 1.5em;
}
.logo b{
  font-size: 1.7rem;
  color: rgb(0, 213, 241)

}
.titletop{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-image: url("./public/abstract.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  margin: 0%;
  height: 150px;
  word-wrap: break-word;
  
}

.hero {
  height: 90vh;
  display: flex;
  background-image: url("./pages/bg.png");
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heroblack {
  height: 80vh;
  display: flex;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  
}
.text-center{
  text-align: center;
}
.cardblur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}
.custom-input,
.custom-input::placeholder {
  background-color: transparent;
  color: white;
}
.custom-input:hover {
  border-color: #4b4e4b;
  box-shadow: 0 0 0 0.1rem rgba(237, 237, 237, 0.25);
}
.custom-input:focus {
  border-color: #4b4e4b;
  box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.25);
  background-color: rgba(106, 111, 106, 0.584);
  color: white;
}
.custom-input::placeholder {
  color: white;
}
.cardblur:hover {
  transform: scale(1.05);
}
.cardblurcont {
  margin-top: 30px;
  margin-bottom: 30px;
}
h1 {
  font-size: 2.7rem;
  line-height: 1.1;
  color: antiquewhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.855);
}
h2 {
  color: antiquewhite;
}
h3{
  color: rgb(153, 153, 153);
}
p {
  color: antiquewhite;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.855);
}

/******************** Hobbies *****************************/

.firstdiv{
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  
  background-image: url("/abstract.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  margin: 0%;
  height: 100%;
  
}
.firstdiv:before{
  opacity: 0.9;
}

.hobbies{
  font-size:1rem;
  padding: 50px 0px;
}
.myimg{
  object-fit: fill;
  width: 23%;
  /* transition: transform 0.4s ease-in-out; */
  animation: floatImage 4s ease-in-out infinite;
}
.myname{
  font-size: 2em;
  word-wrap: break-word;
}
@keyframes floatImage {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-1.5rem);
  }
  100%{
      transform: translateY(0);
  }
}
/* .myimg:hover{
  transform: scale(1.05);
} */
.typing{
  color: rgb(0, 213, 241);
}
.socialmedia a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  background: transparent;
  border: .1rem solid rgb(0, 213, 241);
  border-radius: 50%;
  font-size: 1em;
  color: rgb(0, 213, 241);
  margin: 2rem 1.1rem 2rem 0;
  transition: .5s ease;
  text-decoration: none;
}

.socialmedia a:hover{
  background: rgb(0, 213, 241);
  color: rgb(0, 51, 57);
  box-shadow: 0 0 1re, rgb(0, 213, 241);
}

.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgb(75, 75, 75);
  overflow:hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}

.portfolio-box:hover img {
  width: 100%;
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), rgb(0, 213, 241));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(120%);
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 2rem;
  color: antiquewhite;
}

.portfolio-layer p {
  font-size: 1rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: rgba(231, 231, 231, 0.855);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: rgb(0, 51, 57);
}

@media (max-width: 991px){
  .portfolio-container {
    grid-template-columns: repeat(2,1fr);
}
  .portfolio {
    padding-bottom: 7rem;
  }
  .portfolio-layer h4 {
    font-size: 1rem;
    color: antiquewhite;
  }
  
  .portfolio-layer p {
    font-size: 0.7rem;
    margin: .03rem 0 1rem;
  }
}

@media (max-width: 768px){
  .portfolio-container {
    grid-template-columns: repeat(2,1fr);
}
.portfolio-layer h4 {
  font-size: 1rem;
  color: antiquewhite;
}

.portfolio-layer p {
  font-size: 0.5rem;
  margin: .3rem 0 1rem;
}
}
@media (max-width: 617px){
  .portfolio-container {
      grid-template-columns: 1fr;
  }
  .portfolio-layer h4 {
    font-size: 2rem;
    color: antiquewhite;
  }
  
  .portfolio-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
  }
}


/****************** Calculator *******************/

.calcumain{
  display: flex;
  height: 65vh;
}

.calculator {
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: auto;
  
  text-align: center;
}

.input {
  font-size: 42px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(0, 213, 241);
  outline: none;
  width: 100%;
  text-align: right;
  height: 80px;
  color: #f9f9f9;
  max-width: 100%; 
  overflow-x: auto;
  overflow-y: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.btncal {
  font-size: 18px;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.btnspecial {
  position: relative; 
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 23px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #ffffff;
  transition: .5s;
}
.btnspecial:hover{
  color: rgb(0, 213, 241);
  box-shadow: 0 0 20px rgb(0, 213, 241);
  text-shadow: 0 0 20px rgb(0, 213, 241);
}
.btnspecial::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(0, 213, 241);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -2;
}

.btnspecial:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(0, 213, 241);
}

@media (max-width: 380px){
  .btnspecial {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .calculator {
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: auto;
    
    text-align: center;
  }
}


/**************** JSON ***********************/


.jsoncont{
  margin-top: 50px;
  text-align: center;
}


.card-containers {
	background-color: #4d4d4d;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
  border: 2px solid #03BFCB;
}

.card-containers .pro {
	color: #231E39;
	background-color: rgb(0, 213, 241);
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-containers .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #202020;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.round{
  width: 90px;
}











